<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mymodcomments</name>
	<displayName><![CDATA[My Module of product comments]]></displayName>
	<version><![CDATA[0.4]]></version>
	<description><![CDATA[With this module, your customers will be able to grade and comments your products.]]></description>
	<author><![CDATA[Fabien Serny]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>